.config/emacs/eln-cache
.config/mangal/anilist.json
.config/xplr/plugins
.config/fish/fish_variables
.config/weechat/sec.conf
.local/bin
.local/share/fonts
.w3m/history
.w3m/w3mcache*
.w3m/w3msrc*
.w3m/cookie*
.w3m/*.gz
*.bak
node_modules/*
package-lock.json
*/lvim/lazy-lock.json
.config/emacs/.local/*
!.config/emacs/.local/etc/ispell/.pws
.config/nvim/*
!./config/nvim/lua/config/keymaps.lua
!./config/nvim/lua/plugins/core.lua
pipup.sh
Dracula.hct
/.config/qutebrowser/bookmarks/
/.config/qutebrowser/quickmarks
/.local/share/applications/
