[includeIf "gitdir:~/"]
	path = ~/.gitconfig-home
[includeIf "gitdir:~/Dev/"]
  path = ~/.gitconfig-dev
[includeIf "gitdir:~/Work/"]
  path = ~/Work/.gitconfig-work
[commit]
	gpgsign = true
  verbose = true
[core]
	editor = nvim
  pager = delta 
[credential]
  helper = libsecret
[fetch]
  prune = true
[init]
	defaultBranch = main
[maintenance]
	repo = /home/omary/.dotfiles
	repo = /home/omary/Dev/Org
[merge]
  conflictstyle = zdiff3
[pull]
	rebase = false
[rebase]
  autostash = true
