!./config/nvim/lua/config/keymaps.lua
!./config/nvim/lua/plugins/core.lua
!.config/emacs/.local/etc/ispell/.pws
*.bak
*/lvim/lazy-lock.json
.config/emacs
.config/emacs/eln-cache
.config/fish/fish_variables
.config/mangal/*
.config/nvim/*
.config/tmux/plugins
.config/weechat/sec.conf
.config/yazi/plugins
.local/bin
.local/share/fonts
.w3m/*.gz
.w3m/cookie*
.w3m/history
.w3m/w3mcache*
.w3m/w3msrc*
/.config/qutebrowser/bookmarks/
/.config/qutebrowser/quickmarks
/.local/share/applications/
Dracula.hct
node_modules/*
package-lock.json
pipup.sh
