"$schema" = "https://yazi-rs.github.io/schemas/yazi.json"

[mgr]
ratio = [1, 3, 5]
linemode = "size"
show_hidden = true

[[plugin.prepend_fetchers]]
id = "git"
name = "*"
run = "git"

[[plugin.prepend_fetchers]]
id = "git"
name = "*/"
run = "git"

[opener]
neovide-fallback = [
  { run = 'neovide "$@" || ${EDITOR:-vi} "$@"', desc = "Neovide", block = false, orphan = true, for = "unix" },
]

[open]
prepend_rules = [
  { mime = "text/*", use = "neovide-fallback" },

  { mime = "application/gzip", use = "open" },
  { mime = "application/x-tar", use = "open" },
  { mime = "application/zip", use = "open" },
  { mime = "application/x-7z-compressed", use = "open" },

  { name = "*", use = "neovide-fallback" },
]
