"$schema" = "https://yazi-rs.github.io/schemas/yazi.json"

[mgr]
ratio = [1, 3, 5]
linemode = "size"
show_hidden = true

[[plugin.prepend_fetchers]]
id = "git"
name = "*"
run = "git"

[[plugin.prepend_fetchers]]
id = "git"
name = "*/"
run = "git"

[opener]
neovide = [{ run = 'neovide --fork "$@"', block = false, orphan = true }]

[open]
rules = [
  { mime = "text/*", use = "neovide" },
  { name = "*.txt", use = "neovide" },
  { name = "*.md", use = "neovide" },
  { name = "*.json", use = "neovide" },
  { name = "*.py", use = "neovide" },
  { name = "*.tf", use = "neovide" },
  { name = "*.tfvars", use = "neovide" },
  { name = "*.toml", use = "neovide" },
  { name = "*.yaml", use = "neovide" },
  { name = "*.yml", use = "neovide" },
  { name = "*.gitignore", use = "neovide" },
  { name = "Dockerfile", use = "neovide" },
]
