"$schema" = "https://yazi-rs.github.io/schemas/yazi.json"

[mgr]
ratio = [1, 3, 5]
linemode = "size"
show_hidden = true

[[plugin.prepend_fetchers]]
id = "git"
name = "*"
run = "git"

[[plugin.prepend_fetchers]]
id = "git"
name = "*/"
run = "git"

[[opener.neovide_edit]]
run = 'neovide --fork "$@"'
desc = "Neovide"
block = false
for = "unix"

[open]
rules = [{ mime = "text/*", use = ["neovide_edit", "system_default"] }]
